{% extends "index.html" %}
{% block content %}
	<h2>Welcome to Flask Task site</h2>
		<p>
		Beautiful Soup is a Python library for pulling data out of
		HTML and XML files. It works with your favorite parser to
		provide idiomatic ways of navigating, searching, and
		modifying the parse tree. It commonly saves
		programmers hours or days of work.
		</p>
		<p>
		So say there is a website that contains data that is relevant to your research, such as date or address
		information, or link information for other sources of data that you also want to scrape. Beautiful Soup offers easy
		ways to pull that particular content from the webpage, remove it from its html wrappings, and put it into a new
		context which will allow you to do whatever next operation you desire to do.
		</p>
{% endblock %}
